extends layout

block content
    .jumbotron.text-center
        h1
            span.fa.fa-lock
            |  Node Authentication
        p Login or Register with:
        a(href="/login" class="btn btn-default")
            span.fa.fa-user
            |  Local login
        &nbsp;
        a(href="/signup" class="btn btn-default")
            span.fa.fa-user
            |  Local Signup